<% include ../partials/header %>

<h1>New Comment <%= campground.name %></h1>

<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
<input type="text" placeholder="text" name="comment[text]">
<button>Submit</button>
</form>

<a href="/campgrounds">Go back</a>

<% include ../partials/footer %>